body {
    background-image: url("https://aminus3.s3.amazonaws.com/image/g0001/u00000360/i00031647/da9456c1e1ada3224f355d24ca8f9af1_large.jpg"); 
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    /*to avoid image repetition if you have a background image, this will take the entire viewport */
    height:100vh; 
  }
  
  img{
    filter: brightness(1.5);
  }
  .container{
    background: white;
    opacity: 0.90;
    max-width: 80%; 
    margin: auto; /* this helps centering */
    border: 3px solid black;
    border-radius: 10px;
  }
  
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
  }

  p{
    color: white;
  }
  
  button {
    /*border: none; */
    border: 1px solid #211717;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  #increment-btn {
   background: #006435;;
  }
  
  #save-btn {
    background: #724e0b;
  }
  